Урок 3. Введение в Git/
Урок 4. Стартуем в Codeception/
Урок 5. Локаторы. Селекторы/
Урок 6. Паттерны. PageObject - automationpractice.com/
Урок 6. Паттерны. PageObject - www.saucedemo.com/
Урок 7. Динамические данные в тестах/
Урок 8. Before & After. Паттерн StepObject/vendor/